<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>UEG - Desenvolvimento Web 2025: Aluno</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">Cadastro de Telefone do Aluno</h1>
        </div>
    </div>


    <div class="container">
        <div class="section">


            <form action="/alunos/update/telefone" method="post">
                <div class="input-field col m6 s12">
                    <input type="hidden" name="id" th:value="${id}">
                    <label>Nome: </label>
                    <input type="text" name="nome" th:value="${aluno.nome}" disabled>
                </div>

                <div class="col m6 s12">
                    <label>Telefones</label>
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col">Telefone</th>
                            <th scope="col">Ação</th>
                        </tr>
                        <tr th:each="telefone : ${aluno.telefones}">
                            <td th:text="${telefone.numero}"></td>
                            <td>
                                <a class="waves-effect waves-light btn-small red"
                                    th:href="@{'/alunos/delete/telefone/'+ ${aluno.id} + '/' + ${telefone.id}}">-</a>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="novoTelefone" placeholder="Novo telefone">
                            </td>
                            <td>
                                <button type="submit" class="waves-effect waves-light btn-small">+</button>
                            </td>
                    </table>
                </div>
            </form>


        </div>
    </div>
</body>

</html>